<!-- <div class="center jumbotron">
  <h1>欢迎来到,不知道写什么slogan</h1>

  <h2>
    页面还在完善中
  </h2>

  <%= link_to "立即注册", signup_path, class: "btn btn-lg btn-primary" %>
</div> -->
<select name="person[person_type]" style="margin-top: 80px;" id="select_resource" οnchange="select()">
  <option value="weibo">微博</option>
  <option value="zhihu">知乎</option>
</select>
<!-- <div class="">
每十分钟更新一次
</div> -->
<div class="list-group" id="list_resource">
  <div class="list-group-item">
    <span class="mr-20">序号</span>
    <span class="mr-35">来源</span>
    <span>关键词</span>
  </div>

  <% @news.each_with_index do |news, index| %>
    <a href="<%= news.origin_url %>" class="list-group-item " target="_blank">
      <span class="<%= news.no.to_i > 9 ? "ml-2" : "ml-10" %> mr-20 black_color"><%= news.no.present? ? news.no : 0 %></span>
      <span class="ml-5 mr-30 black_color"><%= news.resource %></span>
      <span class="mr-10"><%= news.title %></span>
      <span class="black_color"><%= news.hot %></span>

      <span class="">
        <% if news.image_url.present? %>
          <%= link_to image_tag(news.image_url, width: '200px', height: '200px'), news.image_url  %>
        <% end %>
      </span>
    </a>
  <% end %>
</div>
<script type="text/javascript">

$("#select_resource").change(function(){
    var re = $("#select_resource").val();
    $.ajax({
      type: "get",
      cache: false,
      url: "/home_resource?resource=" + re,
      dataType: 'html',
      success: function(data){
        $('#list_resource').html(data);
      },
      error: function(XMLHttpResponse) {
        $("#list_resource").html("获取失败,请重试!");
      },
    });
});

</script>
