<!DOCTYPE html>
<html>
  <head>
    <title>lab</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                                              'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="mr-50">
      <%= form_tag search_path, method: :get, style: "display: inline;float:right;" do %>
        <% params[:k] = nil if params[:k].present? && params[:k] == "*" %>
        <%= text_field_tag :k, params[:k], class: 'search_text', placeholder: '请输入搜索词' %>
        <%= submit_tag '搜索', class: 'search_btn_search'%>
      <% end %>
    </div>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <div class="">
        <select name="person[person_type]" style="margin-top: 80px;" id="select_resource" οnchange="select()">
          <option value="weibo">微博</option>
          <option value="zhihu">知乎</option>
        </select>
      </div>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%# debug(params) if !Rails.env.development? %>
    </div>
  </body>
</html>
